<!DOCTYPE html>
<html lang="en" ng-app="shoppingList">
  <head>
    <meta charset="UTF-8">
    <title>Shopping List</title>
  </head>
  <body ng-controller="mainCtrl">
    <button ng-click="addItem()"> Add Item </button>
    <button ng-click="removeItem()"> Remove Item </button>
    <div ng-show="showAddItem">
       <input type="text" placeholder="New Item" ng-model="item">
       <button ng-click="submitItem()"> Submit </button>
    </div>
    <div ng-show="showRemoveItem">
      <input type="text" placeholder="Item to Remove" ng-model="itemToRemove">
      <button ng-click="submitItemToRemove()"> Remove </button>
    </div>
    <ul>
      <li ng-repeat="item in list"> {{item}}</li>
    </ul>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/mainCtrl.js"></script>
    <script src="js/mainService.js"></script>
  </body>
</html>